@import "../../global.scss";
.nav-container {
  position: absolute;
  top: 2.5rem;
  left: 2.2rem;
  z-index: 2;
  background-color: transparent;
  width: 117px;
  height: 100px;
  overflow: hidden;
  @media only screen and (max-width: 240rem) and (min-width: 160.3rem) {
    width: 234px;
    height: 200px;
  }
  @media only screen and (max-width: 160.2rem) and (min-width: 120.3rem) {
    width: 175.5px;
    height: 150px;
  }
  @media only screen and (max-width: 20rem) {
    // tab-land
    left: 1rem;
  }
  @media only screen and (max-height: 33.65rem) and (orientation: landscape) {
    top: 1rem;
  }
  .nav-iconfalse {
    background-color: #000;
    position: absolute;
    right: 3rem;
    top: 3rem;
    z-index: 10;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 240rem) and (min-width: 160.3rem) {
      width: 200px;
      height: 200px;
    }
    @media only screen and (max-width: 160rem) and (min-width: 120.3rem) {
      width: 9.5rem;
      height: 9.5rem;
    }
    @media only screen and (max-width: 20rem) {
      // tab-land
      right: 2rem;
    }
    @media only screen and (max-height: 17.5rem) and (orientation: landscape) {
      top: 1rem;
    }
    @media only screen and (max-height: 33.65rem) and (orientation: landscape) {
      top: 1.5rem;
    }
    .bar1,
    .bar2,
    .bar3 {
      width: 20px;
      height: 2px;
      margin: 4px 0;
      transition: 0.4s;
      background-color: $tmain;
      border-radius: 1rem;
      @media only screen and (max-width: 240rem) and (min-width: 160.3rem) {
        width: 50px;
        height: 5px;
      }
      @media only screen and (max-width: 160rem) and (min-width: 120.3rem) {
        width: 30px;
        height: 4px;
      }
    }
    .bar2 {
      width: 30px;
      transform-origin: right;
      @media only screen and (max-width: 240rem) and (min-width: 160.3rem) {
        width: 70px;
        height: 5px;
      }
      @media only screen and (max-width: 160rem) and (min-width: 120.3rem) {
        width: 50px;
      }
    }
  }
  .nav-icontrue {
    background-color: #000;
    position: absolute;
    right: 3rem;
    top: 3rem;
    z-index: 10;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 240rem) and (min-width: 160.3rem) {
      width: 200px;
      height: 200px;
    }
    @media only screen and (max-width: 160rem) and (min-width: 120.3rem) {
      width: 9.5rem;
      height: 9.5rem;
    }
    @media only screen and (max-width: 20rem) {
      // tab-land
      right: 2rem;
    }
    @media only screen and (max-height: 17.5rem) and (orientation: landscape) {
      top: 1rem;
    }
    @media only screen and (max-height: 33.65rem) and (orientation: landscape) {
      top: 1.5rem;
    }
    .bar1,
    .bar2,
    .bar3 {
      width: 20px;
      height: 2px;
      border-radius: 1em;
      margin: -1px;
      transition: 0.4s;
      background-color: $tmain;
      @media only screen and (max-width: 240rem) and (min-width: 160.3rem) {
        margin: -2.5px;
        width: 50px;
        height: 5px;
      }
      @media only screen and (max-width: 160rem) and (min-width: 120.3rem) {
        margin: -1.5px;
        width: 30px;
        height: 4px;
      }
    }
    .bar2 {
      width: 30px;
      transform-origin: right;
      @media only screen and (max-width: 240rem) and (min-width: 160.3rem) {
        width: 70px;
        height: 5px;
      }
      @media only screen and (max-width: 160rem) and (min-width: 120.3rem) {
        width: 50px;
      }
    }
    .bar1{
      transform: rotate(-45deg)
    }
    .bar2{
      opacity: 0;
    }
    .bar3{
      transform: rotate(45deg)
    }
  }
  .nav-main {
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
    .box-wrapper {
      overflow: hidden;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      display: flex;
      .box {
        background-color: $second;
        width: calc(100vw / 4);
        height: 100vh;
        
      }
    }
    .nav-left{
      position: fixed;
      opacity: 1;
      z-index: 2;
      color: $first;
     left:auto;
      font-size: 1rem;
      @media only screen and (min-width: 46em) {
        left:auto;
      }
    }
    .nav-right{
      position: fixed;
      opacity: 1;
      z-index: 2;
      color: $first;
      left:60%;
      top:30%;
      font-size: 2rem;
      height: calc(100vh - 30%);
      overflow: hidden;
      
      @media only screen and (max-width: 46em) {
        left:auto;
        width:100vw;
      }
    
        @media only screen and (max-height: 35em) {
        left:auto;  
          flex-direction: column;
          flex-wrap: wrap;
          margin: 10px;
        }
      .nav-flex{
        height: calc(100vh - 30% - 70px);
        width:70vw;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        @media only screen and (max-width: 46em) {
          left:auto;
          width:100vw;
        }
      
          @media only screen and (max-height: 35em) {
          left:auto;  
            flex-direction: row;
            flex-wrap: wrap;
            
          }
      }
      .p1{
        color:$first;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 2.5rem;
        overflow: hidden;
        transition: 0.5s;
      }
      .p2 {
        overflow: hidden;
        margin: 0.5rem 0.5rem 0rem 0.5rem;   
        font-size: 3rem;
        transition: 0.5s;
        text-decoration: none;
        color:$first;
        a{
          text-decoration: none;
        color:$first;
        }
        :hover{
          letter-spacing: 10px;
        }
      }
      
    }
  }
}
