@import "../../global.scss";
.portfolio {
    display: block;
    align-items: center;
    justify-content: center;
    height: 100%;
    place-items: center;
    background: $first;
    overflow: hidden;
    .FlexBox{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      place-items: center;
    }
    .p{
      top:30vh;
      margin-left: calc(50vw - 6.2vw);
      color: #fff;
      position:relative;
      font-size: 5vw;
    }
  }
  ::selection{
    color: #fff;
    background: $first;
  }
  
  .skill-bars{
    padding: 0px 3vw;
    padding-top: 20px;
    width: calc(100vw/3);
    background: #000;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  .skill-bars .bar{
    margin-top: 10px;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: calc(1vw + 0.5rem);
    opacity: 0;
    color: $tmain;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    color: $second;
    background: $second;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.Javascript span{
    width: 85%;
  }
  .bar .progress-line.Typescript span{
    width: 70%;
  }
  .bar .progress-line.Java span{
    width: 75%;
  }
  .bar .progress-line.CC span{
    width: 80%;
  }
  .bar .progress-line.Python span{
    width: 40%;
  }
 
.p5{
  color:$tmain;
  font-size: calc(1vw + 0.5rem);
  @media(max-width: 383px)  {
    height:25px;
    overflow: hidden;
  }
}