@import "./global.scss";

.app{
    height:100vh;

    .sections{
        width: 100%;
        height: calc(100%);
        background-color: black;
        position: relative;
        top: 0px;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }

        > *{
            width: 100vw;
            height: calc(100vh);
            scroll-snap-align: start;
            
        }
        
    }
    

    
}